<p id="notice"><%= notice %></p>

<p>
  <b>Session Begin time:</b>
  <%= @session.begintime %>
</p>

<p>
  <b>Session Begin time:</b>
  <%= @session.endtime %>
</p>

<p>
  <b>Session Notes:</b>
  <%= @session.notes %>
</p>

<p>
  <b>1. Injection Concerns - IM:</b>
 
  <%= @session.bd1 %>
</p>

<p>
  <b>2. Injection Concerns - SC:</b>
  
  <%= @session.bd2 %>
</p>

<p>
  <b>3. Financial Concerns:</b>
 
  <%= @session.bd3 %>
</p>

<p>
  <b>4. Side Effects:</b>
  
  <%= @session.bd4 %>
</p>

<p>
  <b>5. Is it worth it:</b>
  
  <%= @session.bd5 %>
</p>

<p>
  <b>6. Building Routines:</b>
  
  <%= @session.bd6 %>
</p>

<p>
  <b>7. Other Concerns, Emotional Barriers:</b>
  
  <%= @session.bd7 %>
</p>

<p>
  <b>8. Unanswered Questions:</b>
  
  <%= @session.bd8 %>
</p>


<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
