<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @session.client_id %>
</p>

<p>
  <b>User:</b>
  <%= @session.user_id %>
</p>

<p>
  <b>Session Begin time:</b>
  <%= @session.begintime %>
</p>

<p>
  <b>Session End time:</b>
  <%= @session.endtime %>
</p>



<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
