<p id="notice"><%= notice %></p>

<p>
  <b>Session Begin time:</b>
  <%= @session.begintime %>
</p>

<p>
  <b>Session Begin time:</b>
  <%= @session.endtime %>
</p>

<p>
  <b>Session Notes:</b>
  <%= @session.notes %>
</p>

<p>
  <b>Injection Concerns:</b>
  <%= @session.b1 %>
</p>

<p>
  <b>Financial Concerns:</b>
  <%= @session.b2 %>
</p>

<p>
  <b>Side Effects:</b>
  <%= @session.b3 %>
</p>

<p>
  <b>Is it worth it:</b>
  <%= @session.b4 %>
</p>

<p>
  <b>Building Routines:</b>
  <%= @session.b5 %>
</p>

<p>
  <b>Other Concerns, Emotional Barriers:</b>
  <%= @session.b6 %>
</p>








<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
