<h1>Clients Administration</h1>

<table>
  <tr>
  	<th></th>
    <th>Name</th>
    <th>DoB</th>
    <th>Location</th>
    <th>Sex</th>
    <th>Age</th>   
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
  	<td><%= link_to "New Session", {:controller => 'clients', :action => "opening", :id => client } %></td>
    <td><%= client.name %></td>
    <td><%= client.dob %></td>
    <td><%= client.location %></td>
    <td><%= client.sex %></td>
    <td><%= client.age %></td>
      
    
    <td><%= link_to "Summary", {:controller => 'clients', :action => "opening", :id => client } %></td>
<!--   <td><%= link_to 'Details', client %></td> -->

    <td><%= link_to 'Edit', edit_client_path(client) %></td>    
    <td><%= button_to 'Remove Client', client, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>

</br>

<%= link_to "Client Sessions", {:controller => 'sessions'} %>





