<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @client.name %>
</p>

<p>
  <b>Dob:</b>
  <%= @client.dob %>
</p>

<p>
  <b>Location:</b>
  <%= @client.location %>
</p>

<p>
  <b>Sex:</b>
  <%= @client.sex %>
</p>

<p>
  <b>Age:</b>
  <%= @client.age %>
</p>

<p>
  <b>Notes:</b>
  <%= @client.notes %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
