<nav class="round">
	<ul>
		<li>
			<%= button_to "1. Opening", {:controller => 'pages', :action => "home" } %>
		</li>
		<li>
			<%= button_to "2. Assesment", {:controller => 'pages', :action => "commonissues" } %>
		</li>
		<li>
			<%= button_to "3. Barriers to progress", {:controller => 'pages', :action => "home" } %>
		</li>
		<li>
			<%= button_to "4. Positive Advice", {:controller => 'pages', :action => 'home' } %>
		</li>
		<li>
			<%= button_to "5. Closing-Scheduling", {:controller => 'pages', :action => 'home' } %>
		</li>
	</ul>
</nav>