<!DOCTYPEhtml>
<html>
	<head>
		<title><%= title %></title>
		<%= csrf_meta_tag%>
		<%= render 'layouts/stylesheets' %> <script type="text/javascript" src="jquery.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$("button").click(function() {
					$(this).hide();
				});
			});
			$(function() {
				$("#accordion").accordion({
					fillSpace : true
				});
			});
			$(function() {
				$("#accordionResizer").resizable({
					minHeight : 140,
					resize : function() {
						$("#accordion").accordion("resize");
					}
				});
			});
			$(function() {
				$("#check").button();
				$("#format").buttonset();
			});

$(function() {
		$( "#radio" ).buttonset();
	});



		</script>
	</head>
	</head>
	<body>
		<div class= "container" >
			<%= render 'layouts/header' %>
			<%= render 'layouts/progress' %>
			<section class="round">
				<%= yield %>
			</section>
			<%= render 'layouts/footer' %>
		</div>
	</body>
</html>